body {
    margin: 0;
}

.main-game {
    height: 80vh; /* Altura */
    width: 100vw; /* largura */
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius {
    display: grid; /*dividir em 4 partes */
    grid-template-areas: 'verde vermelho'
    'amarelo azul';
    grid-gap: 30px;
    border: 50px solid #ffffffa6;
    background-color: #504a4f38;
    border-radius: 30%;
    width: 500px;
    height: 500px;
}

.blue {
    grid-area: azul;
    background-color: blue;
    border-bottom-right-radius: 100%;
}

.red {
    grid-area: vermelho;
    background-color: red;
    border-top-right-radius: 100%;
}

.yellow {
    grid-area: amarelo;
    background-color: yellow;
    border-bottom-left-radius: 100%;
}

.green {
    grid-area: verde;
    background-color: green;
    border-top-left-radius: 100%;
}

.selected {
    opacity: 0.5;
}

.baner {
    height: 100px;
}

.baner img {
    width: 100%;
}